.main {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: auto;
}
.container {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding-top: 0px;
    
}


.container .card {
    margin-left: 20px;
    padding-top: 0px;
    margin-top: 0px;
}